<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Admin Page</title>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/id/935649114/photo/human-resources.jpg?s=612x612&w=0&k=20&c=k4dzDq-G3XjSv38_GRbwVhkgGfgh0YXpCfPNgjlFN2w=");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            width: 100%;
            /*max-width: 1200px;*/
            margin: 0 auto;
            /*padding: 20px;*/
            color: white;
            text-align: center;
        }

        h1 {
            margin-top: 50px;
            font-size: 34px;
            margin-bottom: 40px;
            color: black;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ffffff;
            color: #333333;
            font-size: 18px;
            border-radius: 6px;
            text-decoration: none;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        /* Modal Styles */
        .modal {
            /*position: fixed;*/
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            /*z-index: 9999;*/
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease-in-out;
            color: white;
            overflow-y: auto;

        }

        .modal.open {
            opacity: 1;
            pointer-events: auto;
        }

        .modal-content {
            /*width: 400px;*/
            max-width: 80%;
            background-color: whitesmoke;
            color: black;
            padding: 50px;
            border-radius: 4px;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }

        table {
            width: 100%;
            /*border-collapse: collapse;*/
        }

        th, td {
            padding: 15px;
            border-bottom: 1px solid #999999;
        }

        th {
            text-align: center;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            color: black;
            display: none;
            position: absolute;
            width: max-content;
            padding: 12px;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-item {
            cursor: pointer;
        }
    </style>
</head>

<body>
<div th:replace="fragments/alert :: alert(${alert})"></div>
<header>
    <div class="home-button">
        <div class="menu-button" style="color: black;">
            <span th:if="${logged}">
		        <button style="background-color: transparent;border: none"
                        onclick="location.href='/logout'">
    		        <svg width="25" height="20" fill="currentColor" class="bi bi-power" viewBox="0 0 10 15">
				        <path d="M7.5 1v7h1V1h-1z"/>
  				        <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                    </svg>
                </button>

                <button style="background-color: transparent;border: none;" onclick="location.href='/Manager';">
			        <svg width="30" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 10 15">
  				        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
			        </svg>
		        </button>

		        <button style="background-color: transparent;border: none;" onclick="location.href='Messages';">
			        <svg width="30" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 10 15">
				        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
			        </svg>
		        </button>

		        <span th:if="${Admin}">
			        <button style="background-color: transparent;border: none;" onclick="location.href='Admin';">ADMIN</button>
		        </span>

                <span class="dropdown">
                    <button style="background-color: transparent; border: none;" onclick="toggleDropdown()">APPOINTMENT REQUESTS</button>
                    <div class="dropdown-content" id="appointment-requests">
                        <ul>
                            <p th:if="${appointmentRequests == null or appointmentRequests.isEmpty()}">No appointment requests</p>
                            <li th:each="storeId : ${appointmentRequests}">
                                <span th:text="${storeId.key}"></span>
                                <ul>
                                    <li th:each="owner : ${storeId.value}">
                                        <span th:text="${owner}"></span>
                                        <form th:action="@{/acceptRequest}" method="post">
                                            <input type="hidden" name="storeId" th:value="${storeId.key}">
                                            <input type="hidden" name="owner" th:value="${owner}">
                                            <button type="submit" onclick="updateDropdown(this)">Accept</button>
                                        </form>
                                        <form th:action="@{/declineRequest}" method="post">
                                             <input type="hidden" name="storeId" th:value="${storeId.key}">
                                            <input type="hidden" name="owner" th:value="${owner}">
                                            <button type="submit" onclick="updateDropdown(this)">Decline</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </span>
            </span>

            <button style="background-color: transparent;border: none;" onclick="location.href='/Stores';">STORES</button>

            <button style="background-color: transparent;border: none;position: fixed;right: 3%;" onclick="window.location.href='SearchResults';">
                <svg width="35" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 10 15">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>

            <button style="background-color: transparent;border: none; position: fixed; right: 0%;">
                <svg onclick="window.location.href='Bag';" width="30" height="20" fill="currentColor" class="bi bi-cart3" viewBox="0 0 13 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </button>
        </div>
    </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<div class="container">
    <h1>Welcome to Admin Page</h1>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('delete-user-modal')">Delete User</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('online-users-modal')">Online Users</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('offline-users-modal')">Offline Users</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('daily-income-modal')">Daily Income</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('daily-income-store-modal')">Daily Income For Store</a>s
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('VisitorsAmountBetweenDates-modal')">Visitors Amount Between Dates</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('UsersWithoutStoresAmountBetweenDates-modal')">Users Without Stores Amount BetweenDates</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('StoreManagersOnlyAmountBetweenDates-modal')">Store Managers Only Amount Between Dates</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('StoreOwnersAmountBetweenDates-modal')">Store Owners Amount Between Dates</a>
    <a style="background-color: rgba(255,255,255,0.4);" class="button" onclick="openModal('AdminsAmountBetweenDates-modal')">Admins Amount Between Dates</a>
</div>

<script>
    var currentModal = null;

    function openModal(modalId) {
        if (currentModal !== null) {
            closeModal(currentModal);
        }

        var modal = document.getElementById(modalId);
        modal.classList.add('open');
        currentModal = modalId;
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.classList.remove('open');
        currentModal = null;
    }
</script>
<!--// ------------------------------------ VisitorsAmountBetweenDates Modal --------------------------------------//-->
<div id="VisitorsAmountBetweenDates-modal" class="modal">
    <a class="close-button" onclick="closeModal('VisitorsAmountBetweenDates-modal')">&#x2613</a>
    <form action="/VisitorsAmountBetweenDates" method="post">
        <label for="date">Start Date:</label>
        <input type="date" name="startDate" required>
        <br><br>
        <label for="date">End Date:</label>
        <input type="date" name="endDate" required>
        <br><br>
        <button type="submit">SHOW</button>
    </form>
    <br><br>
    <div>
        <h3>Visitors Amount:</h3>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${visitorsAmount}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--// ------------------------------------ UsersWithoutStoresAmountBetweenDates Modal --------------------------------------//-->
<div id="UsersWithoutStoresAmountBetweenDates-modal" class="modal">
    <a class="close-button" onclick="closeModal('UsersWithoutStoresAmountBetweenDates-modal')">&#x2613</a>
    <form action="/UsersWithoutStoresAmountBetweenDates" method="post">
        <label for="date">Start Date:</label>
        <input type="date" name="startDate" required>
        <br><br>
        <label for="date">End Date:</label>
        <input type="date" name="endDate" required>
        <br><br>
        <button type="submit">SHOW</button>
    </form>
    <br><br>
    <div>
        <h3>Users Without Stores Amount:</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            <tr th:each="entry : ${usersWithoutStoresAmount}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
        </table>
    </div>
</div>
<!--// ------------------------------------ StoreManagersOnlyAmountBetweenDates Modal --------------------------------------//-->
<div id="StoreManagersOnlyAmountBetweenDates-modal" class="modal">
    <a class="close-button" onclick="closeModal('StoreManagersOnlyAmountBetweenDates-modal')">&#x2613</a>
    <form action="/StoreManagersOnlyAmountBetweenDates" method="post">
        <label for="date">Start Date:</label>
        <input type="date" name="startDate" required>
        <br><br>
        <label for="date">End Date:</label>
        <input type="date" name="endDate" required>
        <br><br>
        <button type="submit">SHOW</button>
    </form>
    <br><br>
    <div>
        <h3>Store Managers Only Amount:</h3>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${storeManagersOnlyAmount}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--// ------------------------------------ StoreOwnersAmountBetweenDates Modal --------------------------------------//-->
<div id="StoreOwnersAmountBetweenDates-modal" class="modal">
    <a class="close-button" onclick="closeModal('StoreOwnersAmountBetweenDates-modal')">&#x2613</a>
    <form action="/StoreOwnersAmountBetweenDates" method="post">
        <label for="date">Start Date:</label>
        <input type="date" name="startDate" required>
        <br><br>
        <label for="date">End Date:</label>
        <input type="date" name="endDate" required>
        <br><br>
        <button type="submit">SHOW</button>
    </form>
    <br><br>
    <div>
        <h3>Store Owners Amount:</h3>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${storeOwnersAmount}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--// ------------------------------------ AdminsAmountBetweenDates Modal --------------------------------------//-->
<div id="AdminsAmountBetweenDates-modal" class="modal">
    <a class="close-button" onclick="closeModal('AdminsAmountBetweenDates-modal')">&#x2613</a>
    <form action="/AdminsAmountBetweenDates" method="post">
        <label for="date">Start Date:</label>
        <input type="date" name="startDate" required>
        <br><br>
        <label for="date">End Date:</label>
        <input type="date" name="endDate" required>
        <br><br>
        <button type="submit">SHOW</button>
    </form>
    <br><br>
    <div>
        <h3>Admins Amount:</h3>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${adminsAmount}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--// ------------------------------------ DailyIncome Modal --------------------------------------//-->
<div id="daily-income-modal" class="modal">
    <a class="close-button" onclick="closeModal('daily-income-modal')">&#x2613</a>
    <form action="/daily-income" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <br><br>
        <button type="submit">SHOW</button>
    </form>
    <br><br>
    <div>
        <h3>System Daily Income:</h3>
        <p th:text="${dailyIncome}">No income data available</p>
    </div>
</div>
<!--// ------------------------------------ DailyStoreIncome Modal --------------------------------------//-->
<div id="daily-income-store-modal" class="modal">
    <a class="close-button" onclick="closeModal('daily-income-store-modal')">&#x2613</a>
    <form action="/daily-store-income" method="post">
        <label for="storeId">Store ID: </label>
        <input type="number" id="storeId" name="storeId" required>
        <br><br>
        <label for="date">Date: </label>
        <input type="date" id="dateStore" name="date" required>
        <br><br>
        <button type="submit">SHOW</button>
    </form>
    <br><br>
    <div>
        <h3>Daily Income for the chosen store: </h3>
        <p> <span th:text="${dailyStoreIncome}">No income data available</span></p>
    </div>
</div>
<!--// ------------------------------------ DeleteUser Modal --------------------------------------//-->
<div id="delete-user-modal" class="modal">
    <a class="close-button" onclick="closeModal('delete-user-modal')">&#x2613</a>
    <form action="/delete" method="post">

<!--        <label for="usernameToDelete">USERNAME:</label>-->
        <div class="input-icon">
            <i class="fas fa-user"></i>
            <input type="text" id="usernameToDelete" name="usernameToDelete" placeholder="enter username to delete" required>
        </div>
        <br>
        <button type="submit">DELETE USER</button>
    </form>
</div>
<!------------------------------ Online Users Modal ------------------------------>
<div id="online-users-modal" class="modal">
    <a class="close-button" onclick="closeModal('online-users-modal')">&#x2613</a>
    <div style="overflow-y: auto;">
        <table>
            <tr th:each="user : ${onlineUsersInfo}">
                <td><span th:text="${user.userName}"></span></td>
            </tr>
        </table>
    </div>
</div>
<!------------------------------ Offline Users Modal ------------------------------>
<div id="offline-users-modal" class="modal">
    <a class="close-button" onclick="closeModal('offline-users-modal')">&#x2613</a>
    <div style="overflow-y: auto;">
        <!--    <h1 style="color: whitesmoke;">Offline Users</h1>-->
        <table>
            <tr>
                <th>User Name</th>
                <th>Is Online</th>
            </tr>
            <tr th:each="user : ${offlineUsersInfo}">
                <td><span th:text="${user.userName}"></span></td>
                <td>
                    <!--                    <span th:text="${#strings.substring(user.info, 0, 10)}"></span><br/>-->
<!--                    <span th:text="${#strings.substring(user.info, 10, 20)}"></span><br/>-->
                    <span th:text="${#strings.substring(user.info, user.info.length()-5)}"></span>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    var alertElement = document.getElementById("alert");

    // Set the timeout to close the alert after 4 seconds (4000 milliseconds)
    setTimeout(function () {
        alertElement.style.display = "none";
    }, 2500);
</script>

<script th:inline="javascript">
    function toggleDropdown() {
        var dropdownContent = document.getElementById("appointment-requests");
        dropdownContent.style.display = dropdownContent.style.display === "none" ? "block" : "none";
    }

    function updateDropdown(element) {
        var listItem = element.parentNode;
        var dropdown = document.getElementById("appointment-requests");
        dropdown.removeChild(listItem);

        // Toggle dropdown visibility if there are no more appointment requests
        var requests = dropdown.getElementsByTagName("li");
        if (requests.length === 0) {
            toggleDropdown();
        }
    }
</script>
</body>
</html>
